# Possible values: development, production
NODE_ENV=

PORT=

# Configure network: `delphinet` or `mainnet`
NETWORK=

# Secret keys for the accounts used for broadcasting txns.
# Each key to be separated by space
RELAYER_SECRET_KEYS=

# Mongo database settings
DB_HOST=
DB_PORT=
DB_USER_NAME=
DB_USER_PASSWORD=
DB_NAME=

# Set fee priority 
# This helps in deciding gasPrices and txn. fees
# Possible values: low, medium, high
FEE_PRIORITY=